<!DOCTYPE html>
<html>
<head>
    <title>End Quiz</title>
</head>
<body>
<h1>End Quiz</h1>
<p>Hi, {{userAccess.name}}. You have finished the quiz.</p>
<p><a href="/results?userAccessId={{userAccess.id}}">See your score</a></p>
</body>
</html>