<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>Bine ai venit</h1>
<p>Pentru a incepe testul introdu numele si apasa butonul.</p>

<form action="/start" method="GET">
    Numele: <input type="text" name="user" required placeholder="Introdu un nume">
    <input type="submit" value="Incepe testul">
</form>
</body>
</html>