<!DOCTYPE html>
<html>
<head>
    <title>Start</title>
</head>
<body>
<h1>Start</h1>
<p>Salut {{userAccess.name}}.</p>
<p><a href="/question?userAccessId={{userAccess.id}}&questionId=1">Start Quiz</a></p>
</body>
</html>